# &emsp;&emsp;&emsp;DataFrame Əməliyyatları və Pivot Table (Yekunlar Cədvəli):
&emsp;&emsp;Data -mızı yaratmaqdan başlayaq:

######

In [56]:
import numpy as np
import pandas as pd 
data_sira = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
             22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
data = { #"Sıra" : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 
        #20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40], 
        "Ad" : ["Səfa", "Ceyms", "Teymur", "Qardaşxan", "Mahir", "Mövlud", "Kənan", 
                "Kazuo", np.nan, "Qardaşxan", "Zaman", np.nan, "Aqşin", "Niyaz", 
                "Qasımbəy", "Elmar", "Rəşid", "Mark", "Heysəm", "Ramin", "Xatirə", 
                "Rusudan", "Mədinə", "Rəna", "Yekaterina", "Pərvanə", "Luiza", "Lətafət", 
                "Tərlan", "Şölə", "Gülşən", "Hikari", "Xədicə", "Luiza", "Şəfa", "Marina", 
                "Gülüstan", "Rusudan", "Flora", "Reyhan"], 
        "Soyad" : ["Əliyev", "Teymurov", "Akifoğlu", "Elşadzadə", "Niyazlı", "Hümmətli", 
                   "Altaylı", "Teymurzadə", "Davudov", "Teymurov", "Zauroğlu", "Teymurov", 
                   "Nərimanov", "Kazımov", "Elmanoğlu", "Abdullahlı", "Emilzadə", 
                   "Vahidli", "Con", "Emilzadə", "Ramizli", "Anatoli", "Elşadqızı", 
                   "Çingizzadə", "Əsgərli", "Nəsimov", "Elnurlu", "Babakişiyeva", 
                   "Babakişiyeva", "Qazıyev", "Sultanzadə", "Mustafa", "Fahirli", 
                   "Bəhram", "Razi", "Edvard", "Mikayılova", "Anarlı", "Kənanzadə", "Razi"], 
        "Sinif" : ["10A", "10A", "10A", "10B", "10B", "10A", "10A", "10B", "10A", "10B", 
                   "9A", "9A", "9A", "9B", "9B", "9A", "9A", "9B", "9A", "9B", "10B", "10A", 
                   "10A", "10B", "10B", "10A", "10B", "10B", "10A", "10B", "9B", "9A", "9A", 
                   "9B", "9B", "9A", "9B", "9B", "9A", "9B"], 
        "Cinsi" : ["K", "K", "K", "K", "K", "K", "K", "K", "K", "K", "K", "K", "K", "K", 
                   "K", "K", "K", "K", "K", "K", "Q", "Q", "Q", "Q", "Q", "Q", "Q", "Q", 
                   "Q", "Q", "Q", "Q", "Q", "Q", "Q", "Q", "Q", "Q", "Q", "Q"], 
        "Təvəllüdü" : [1989, 1990, 1990, 1990, 1990, 1991, 1991, 1991, 1990, 1992, 
                       1989, 1990, 1990, 1992, 1990, 1991, 1991, 1991, 1992, 1992, 1989, 
                       1990, 1990, 1990, 1990, 1991, 1991, 1991, 1992, 1992, 1989, 1990, 
                       1990, 1990, 1990, 1991, 1991, 1991, 1992, 1992]}

df = pd.DataFrame(data, columns=data.keys(),index = data_sira)

######

In [57]:
df.to_csv('azdatasaxta.csv')

In [58]:
df = pd.DataFrame(pd.read_csv("/content/azdatasaxta.csv"), columns=data.keys(),index = data_sira)

In [61]:
df = df.rename_axis(index='Sıra Nömrəsi')
df.dropna(inplace=True)
df

                      Ad         Soyad Sinif Cinsi  Təvəllüdü
Sıra Nömrəsi
1                  Ceyms      Teymurov   10A     K     1990.0
2                 Teymur      Akifoğlu   10A     K     1990.0
3              Qardaşxan     Elşadzadə   10B     K     1990.0
4                  Mahir       Niyazlı   10B     K     1990.0
5                 Mövlud      Hümmətli   10A     K     1991.0
6                  Kənan       Altaylı   10A     K     1991.0
7                  Kazuo    Teymurzadə   10B     K     1991.0
9              Qardaşxan      Teymurov   10B     K     1992.0
10                 Zaman      Zauroğlu    9A     K     1989.0
12                 Aqşin     Nərimanov    9A     K     1990.0
13                 Niyaz       Kazımov    9B     K     1992.0
14              Qasımbəy     Elmanoğlu    9B     K     1990.0
15                 Elmar    Abdullahlı    9A     K     1991.0
16                 Rəşid      Emilzadə    9A     K     1991.0
17                  Mark       Vahidli    9B     K     1991.0
18                Heysəm           Con    9A     K     1992.0
19                 Ramin      Emilzadə    9B     K     1992.0
20                Xatirə       Ramizli   10B     Q     1989.0
21               Rusudan       Anatoli   10A     Q     1990.0
22                Mədinə     Elşadqızı   10A     Q     1990.0
23                  Rəna    Çingizzadə   10B     Q     1990.0
24            Yekaterina       Əsgərli   10B     Q     1990.0
25               Pərvanə       Nəsimov   10A     Q     1991.0
26                 Luiza       Elnurlu   10B     Q     1991.0
27               Lətafət  Babakişiyeva   10B     Q     1991.0
28                Tərlan  Babakişiyeva   10A     Q     1992.0
29                  Şölə       Qazıyev   10B     Q     1992.0
30                Gülşən    Sultanzadə    9B     Q     1989.0
31                Hikari       Mustafa    9A     Q     1990.0
32                Xədicə       Fahirli    9A     Q     1990.0
33                 Luiza        Bəhram    9B     Q     1990.0
34                  Şəfa          Razi    9B     Q     1990.0
35                Marina        Edvard    9A     Q     1991.0
36              Gülüstan    Mikayılova    9B     Q     1991.0
37               Rusudan        Anarlı    9B     Q     1991.0
38                 Flora     Kənanzadə    9A     Q     1992.0
39                Reyhan          Razi    9B     Q     1992.0

&emsp;&emsp;İlk öncə məqsədimizi qeyd edək ki, hərşey anlaşılan olsun. 3 sadə amma faydalılıq baxımından çox yüksək keyfiyyətli funksiya vardır: <br> 
1.   head ( ) - bu funksiya bizə data haqqında anlayış verməsi baxımından defolt olaraq onun ilk  5 sətirini , bütun sütunlarla qarşımıza çıxardır və data haqqında ilkin biliklərə malik oluruq. Bu funksiyadan istifadədə yaranan çətin problemlərdən biri də SQL və digər DMS (Database management systems) -lərdə heç bir dataya müdaxiləyə izn olmamasından yaranır. Belə ki, test mühitində işləyən verilənlər bazaları ilkin məlumatları sınaq üçün yazılmış və birçox hissəsi düzgün göstəricilərlə əhatə olunmamış ola bilir belə ki, bir çox hallarda verilənlər bazasınıın test mühitinin belə toxunulmazlığı qaydaları (işləri idarə edən şirkət, qurum və mövcud ölkənin normativ hüquqi aktlarından irəli gələn tələblər) bu data -ları silməyə izn vermir. Yəni siz sorğu ilə SQL dən aldığınız datada  head() işlədərsəniz buradakı məlumatlar sizə düzgün fikir verməyə bilər.
2.   tail ( ) -  bu funksiya (defolt olaraq son 5 sətiri alaraq) son dövrləri əhatə edər bu da ümumi datanı tam anlamamıza işıq tutmaya bilər.
3.   sample ( ) - bu funksiya (defolt olaraq təsadüfi 1 ədəd sətiri alaraq) cədvəlin hər hansı hissəsindən sizə bir sətirlik məlumatı gətirər. <br><br>
Ümumi baxdıqda bu üç funksiyanın hər birindən istifadədə öz problemləri var. Ona görə də hər üç funksiyadan baxış üçün istifadə edək:

In [35]:
pd.concat([df.head(5),df.sample(5),df.tail(5)])

                     Ad       Soyad Sinif Cinsi  Təvəllüdü
Sıra Nömrəsi
1                 Ceyms    Teymurov   10A     K     1990.0
2                Teymur    Akifoğlu   10A     K     1990.0
3             Qardaşxan   Elşadzadə   10B     K     1990.0
4                 Mahir     Niyazlı   10B     K     1990.0
5                Mövlud    Hümmətli   10A     K     1991.0
3             Qardaşxan   Elşadzadə   10B     K     1990.0
37              Rusudan      Anarlı    9B     Q     1991.0
29                 Şölə     Qazıyev   10B     Q     1992.0
10                Zaman    Zauroğlu    9A     K     1989.0
2                Teymur    Akifoğlu   10A     K     1990.0
36             Gülüstan  Mikayılova    9B     Q     1991.0
37              Rusudan      Anarlı    9B     Q     1991.0
38                Flora   Kənanzadə    9A     Q     1992.0
39               Reyhan        Razi    9B     Q     1992.0
40                  NaN         NaN   NaN   NaN        NaN

&emsp;&emsp;Dataframe  daxilində olan ədədi göstəricilərin statistik xülasəsinə baxaq:

In [36]:
df.describe()

         Təvəllüdü
count    39.000000
mean   1990.641026
std       0.902837
min    1989.000000
25%    1990.000000
50%    1991.000000
75%    1991.000000
max    1992.000000

&emsp;&emsp;Sütun sayı az olduğundan xoş görünməsi üçün və ya digər məqsədlərlə biz cədvəli 90 dərəcə əyə bilərik, yəni Transpose edərək sütun və sətirlərin yerini dəyişə bilərik:

In [37]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Təvəllüdü,39.0,1990.641026,0.902837,1989.0,1990.0,1991.0,1991.0,1992.0

&emsp;&emsp;Beləliklə biz, '.T' işlədərək  statistik dəyərləri daha rahat müşahidə etmiş oluruq.

&emsp;&emsp;Biz ümumi DataFrame -nin indeks sayını, sütunların data tipini, sütunlarda mövcud dolu xanaların sayını, data -nın ram -da tutduğu yerin miqdarını öyrənmək üçün <i><b>info( )</b></i> metodunu istifadə edərik:

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 1 to 40
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Ad         37 non-null     object
 1   Soyad      39 non-null     object
 2   Sinif      39 non-null     object
 3   Cinsi      39 non-null     object
 4   Təvəllüdü  39 non-null     float64
dtypes: float64(1), object(4)
memory usage: 1.9+ KB

&emsp;&emsp;<i><b>describe ( )</b></i> metodu statistik informasiyanı ekrana gətirərkən,
<br>&emsp;&emsp;<i><b>corr ( )</b></i> metodu sütunlar arasındakı korrelasiya haqqında bizə fikir verər. Lakin üzərində işlədiyimiz data  korrelasiya əlaqələrini aydın görmək üçün uyğun deyil. Bu metoddan daha sonra, aşağıda istifadə edəcəyik.<br>
&emsp;&emsp;Yuxarıda verdiyimiz nümunələrdə istifadə etdiyimiz metodlardan dataya ilkin baxış üçün yararlanmağı tövsiyə edirəm.

In [39]:
df['Soyad'].unique()

array(['Teymurov', 'Akifoğlu', 'Elşadzadə', 'Niyazlı', 'Hümmətli',
       'Altaylı', 'Teymurzadə', 'Davudov', 'Zauroğlu', 'Nərimanov',
       'Kazımov', 'Elmanoğlu', 'Abdullahlı', 'Emilzadə', 'Vahidli', 'Con',
       'Ramizli', 'Anatoli', 'Elşadqızı', 'Çingizzadə', 'Əsgərli',
       'Nəsimov', 'Elnurlu', 'Babakişiyeva', 'Qazıyev', 'Sultanzadə',
       'Mustafa', 'Fahirli', 'Bəhram', 'Razi', 'Edvard', 'Mikayılova',
       'Anarlı', 'Kənanzadə', nan], dtype=object)

In [40]:
df['Soyad'].nunique()

34

In [41]:
df.nunique()

Ad           34
Soyad        34
Sinif         4
Cinsi         2
Təvəllüdü     4
dtype: int64

&emsp;&emsp;<i><b>unique ( )</b></i> metodu bizə sütundakı unikal dataları array (massiv) daxilində geri qaytarar.<br> 
&emsp;&emsp;<i><b>nunique ()</b></i> metodu bizə neçə 'unique' (unikal) data verildiyini ifadə edər.

In [42]:
df['Təvəllüdü'].value_counts()

1990.0    16
1991.0    12
1992.0     8
1989.0     3
Name: Təvəllüdü, dtype: int64

&emsp;&emsp;<i><b>value_counts ()</b></i> metodu hansı dəyərdən neçə ədəd mövcuddur onu bizə bildirər <br>

In [43]:
df[df['Təvəllüdü'] >= 1992]

                     Ad         Soyad Sinif Cinsi  Təvəllüdü
Sıra Nömrəsi
9             Qardaşxan      Teymurov   10B     K     1992.0
13                Niyaz       Kazımov    9B     K     1992.0
18               Heysəm           Con    9A     K     1992.0
19                Ramin      Emilzadə    9B     K     1992.0
28               Tərlan  Babakişiyeva   10A     Q     1992.0
29                 Şölə       Qazıyev   10B     Q     1992.0
38                Flora     Kənanzadə    9A     Q     1992.0
39               Reyhan          Razi    9B     Q     1992.0

In [44]:
df[(df['Sinif'] == '10A') & (df['Təvəllüdü'] == 1991) ]

                   Ad     Soyad Sinif Cinsi  Təvəllüdü
Sıra Nömrəsi
5              Mövlud  Hümmətli   10A     K     1991.0
6               Kənan   Altaylı   10A     K     1991.0
25            Pərvanə   Nəsimov   10A     Q     1991.0

&emsp;&emsp;Məlum olduğu kimi burada da DataFrame filtrləmə əməliyyatları edə bilirik.

In [45]:
def square(x): 
    return x ** 2
square(2)

4

&emsp;&emsp;Biz burada aldığı parametrin kvadratını yaradıb bizə geri döndürən funksiya yaratdıq.

In [46]:
df['Təvəllüdü'].apply(square)

Sıra Nömrəsi
1     3960100.0
2     3960100.0
3     3960100.0
4     3960100.0
5     3964081.0
6     3964081.0
7     3964081.0
8     3960100.0
9     3968064.0
10    3956121.0
11    3960100.0
12    3960100.0
13    3968064.0
14    3960100.0
15    3964081.0
16    3964081.0
17    3964081.0
18    3968064.0
19    3968064.0
20    3956121.0
21    3960100.0
22    3960100.0
23    3960100.0
24    3960100.0
25    3964081.0
26    3964081.0
27    3964081.0
28    3968064.0
29    3968064.0
30    3956121.0
31    3960100.0
32    3960100.0
33    3960100.0
34    3960100.0
35    3964081.0
36    3964081.0
37    3964081.0
38    3968064.0
39    3968064.0
40          NaN
Name: Təvəllüdü, dtype: float64

&emsp;&emsp;Bu funksiyanı 'apply()' ilə həmin data sütununa yerləşdirdikdə o, bizə  həmin sütunun elementlərinin kavadratını verdi.<br>Bu xüsusi yazılış qaydasından layihələrinizdə istifadə edə bilərsiniz. Məsələn, siz avtomobilin mühərrik hissəsinin datalarını araşdırırsınız və komandanız sizdən mühərrik haqqında diaqnostik dəyərləndirmə istədi. Datalardan lazım olan xüsusuiyyət (sütun elementlərini) -ləri götürüb riyazi düsturla bu misaldakı kimi istifadə edə və işinizi rahatlıqla görə bilərsiniz. Ancaq daha qısa bir yol var:

In [47]:
lambda x : x **2

In [48]:
df['Təvəllüdü'].apply(lambda x : x **2 )

Sıra Nömrəsi
1     3960100.0
2     3960100.0
3     3960100.0
4     3960100.0
5     3964081.0
6     3964081.0
7     3964081.0
8     3960100.0
9     3968064.0
10    3956121.0
11    3960100.0
12    3960100.0
13    3968064.0
14    3960100.0
15    3964081.0
16    3964081.0
17    3964081.0
18    3968064.0
19    3968064.0
20    3956121.0
21    3960100.0
22    3960100.0
23    3960100.0
24    3960100.0
25    3964081.0
26    3964081.0
27    3964081.0
28    3968064.0
29    3968064.0
30    3956121.0
31    3960100.0
32    3960100.0
33    3960100.0
34    3960100.0
35    3964081.0
36    3964081.0
37    3964081.0
38    3968064.0
39    3968064.0
40          NaN
Name: Təvəllüdü, dtype: float64

&emsp;&emsp;Adətən,  <i><b>lambda</b></i> tipli  tək sətirlik funksiyaya qısa olduğu üçün daha çox üstunlük verilir.<br>&emsp;&emsp;Baxmayaraq ki, biz yuxarıda olan formada kodu çalışdırdıq, data avtomatik olaraq yenilənməyəcəkdir. Şərhə aldığım kodda  qeyd edildiyi formada biz onu (datanı) yeniləyə bilərik.

In [49]:
#  df['Təvəllüdü'] = df['Təvəllüdü'].apply(square)

In [62]:
df['Soyad'].apply(len) # Sütundakı dataların string uzunluğunu bizə geri döndürər

Sıra Nömrəsi
1      8
2      8
3      9
4      7
5      8
6      7
7     10
9      8
10     8
12     9
13     7
14     9
15    10
16     8
17     7
18     3
19     8
20     7
21     7
22     9
23    10
24     7
25     7
26     7
27    12
28    12
29     7
30    10
31     7
32     7
33     6
34     4
35     6
36    10
37     6
38     9
39     4
Name: Soyad, dtype: int64

In [63]:
df.drop('Təvəllüdü', axis = 1 ) #Təvəllüdü sütununu silirik

                      Ad         Soyad Sinif Cinsi
Sıra Nömrəsi
1                  Ceyms      Teymurov   10A     K
2                 Teymur      Akifoğlu   10A     K
3              Qardaşxan     Elşadzadə   10B     K
4                  Mahir       Niyazlı   10B     K
5                 Mövlud      Hümmətli   10A     K
6                  Kənan       Altaylı   10A     K
7                  Kazuo    Teymurzadə   10B     K
9              Qardaşxan      Teymurov   10B     K
10                 Zaman      Zauroğlu    9A     K
12                 Aqşin     Nərimanov    9A     K
13                 Niyaz       Kazımov    9B     K
14              Qasımbəy     Elmanoğlu    9B     K
15                 Elmar    Abdullahlı    9A     K
16                 Rəşid      Emilzadə    9A     K
17                  Mark       Vahidli    9B     K
18                Heysəm           Con    9A     K
19                 Ramin      Emilzadə    9B     K
20                Xatirə       Ramizli   10B     Q
21               Rusudan       Anatoli   10A     Q
22                Mədinə     Elşadqızı   10A     Q
23                  Rəna    Çingizzadə   10B     Q
24            Yekaterina       Əsgərli   10B     Q
25               Pərvanə       Nəsimov   10A     Q
26                 Luiza       Elnurlu   10B     Q
27               Lətafət  Babakişiyeva   10B     Q
28                Tərlan  Babakişiyeva   10A     Q
29                  Şölə       Qazıyev   10B     Q
30                Gülşən    Sultanzadə    9B     Q
31                Hikari       Mustafa    9A     Q
32                Xədicə       Fahirli    9A     Q
33                 Luiza        Bəhram    9B     Q
34                  Şəfa          Razi    9B     Q
35                Marina        Edvard    9A     Q
36              Gülüstan    Mikayılova    9B     Q
37               Rusudan        Anarlı    9B     Q
38                 Flora     Kənanzadə    9A     Q
39                Reyhan          Razi    9B     Q

In [64]:
df.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  9, 10, 12, 13, 14, 15, 16, 17, 18, 19,
            20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
            37, 38, 39],
           dtype='int64', name='Sıra Nömrəsi')

In [65]:
df.index.names

FrozenList(['Sıra Nömrəsi'])

&emsp;&emsp;<i><b>index</b></i> bizə defolt olaraq əgər indeks təyin edilməzsə  index aralıqlarını bizə göstərər (başlanğıc, bitiş, addım) - formasında<br>&emsp;&emsp;Yox əgər index dataframe yaradılarkən təyin edilmişdirsə , təyin edilmiş array (sütun) -u bizə geri döndürər.<br>&emsp;&emsp;<i><b>index.names</b></i> index -ə təyin etdiyimiz sütun adını qaytarar.

Parametrlər<br><br>
by : str və ya str -lardan ibarət list

>Sıralamaq üçün ad və ya adlar siyahısı qəbul edər.<br>
- if `axis`  0  və ya `'index'` -dirsa o zaman `by` index level -ləri və ya sütun başlıqlarını alar column labels.<br>
- if `axis` is 1  və ya `'columns'` -dirsa o zaman `by` column level -ləri və ya index başlıqları alar.<br>

axis : {0 ovə ya 'index', 1 və ya 'columns'}, default 0<br>
>Sıralamaq üçün axe və ya axislər verilər.<br>

ascending : bool və ya bool -lardan ibarət list, defolt True<br>
>Ascending və ya descending üzrə sıralaya bilərsiz. Çoxölçülü sıralama üçün bool -lardan ibarət list verilər. Amma, bu list by ilə göndərilən siyahı ilə eyni sayda element saxlamalıdır.<br>

inplace : bool, defolt False<br>
>Əgər True təyin edilərsə, əməliyyat in-place, yəni yerində - anındaca həyata heçirilir.<br>

kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, defolt 'quicksort'<br>
>Sıralama alqoritmi seçilir. Daha çox informasiya üçün həmçinin bax :funksiya:`numpy.sort`.<br> &emsp;&emsp;`mergesort` və `stable` yeganə stabil alqoritmlərdir. Dataframe -lərdə bu seçim sıralama bir sütun və ya  label üzərində tətbiq edilərkən istifadə edilir.<br>

na_position : {'first', 'last'}, default 'last'<br>
>Əgər `first`olarsa NaN dəyərləri başlanğıcda ; `last` olarsa NaNs dəyərləri cədvəl sonunda geri döndürər.<br>

ignore_index : bool, default False<br>
>Əgər True olarasa, nəticədə index `0, 1, …, n - 1` olaraq başlıqla sətirlərdə görünəcəkdir. `n` - burada datadakı sətirlərin sayıdır.<br>

Qaytarır:
>Sıralanmış obyekt : DataFrame və ya None. Sıralanmış dəyərlərdən ibarət DataFrame və ya None əgər ``inplace=True`` dəyəri olarsa.

In [66]:
df.head()

                     Ad      Soyad Sinif Cinsi  Təvəllüdü
Sıra Nömrəsi
1                 Ceyms   Teymurov   10A     K     1990.0
2                Teymur   Akifoğlu   10A     K     1990.0
3             Qardaşxan  Elşadzadə   10B     K     1990.0
4                 Mahir    Niyazlı   10B     K     1990.0
5                Mövlud   Hümmətli   10A     K     1991.0

&emsp;&emsp;Sıralamaq üçün ad və ya adlar siyahısı qəbul edərsək:

In [67]:
df.sort_values(by=['Ad', 'Soyad'])

                      Ad         Soyad Sinif Cinsi  Təvəllüdü
Sıra Nömrəsi
12                 Aqşin     Nərimanov    9A     K     1990.0
1                  Ceyms      Teymurov   10A     K     1990.0
15                 Elmar    Abdullahlı    9A     K     1991.0
38                 Flora     Kənanzadə    9A     Q     1992.0
36              Gülüstan    Mikayılova    9B     Q     1991.0
30                Gülşən    Sultanzadə    9B     Q     1989.0
18                Heysəm           Con    9A     K     1992.0
31                Hikari       Mustafa    9A     Q     1990.0
7                  Kazuo    Teymurzadə   10B     K     1991.0
6                  Kənan       Altaylı   10A     K     1991.0
33                 Luiza        Bəhram    9B     Q     1990.0
26                 Luiza       Elnurlu   10B     Q     1991.0
27               Lətafət  Babakişiyeva   10B     Q     1991.0
4                  Mahir       Niyazlı   10B     K     1990.0
35                Marina        Edvard    9A     Q     1991.0
17                  Mark       Vahidli    9B     K     1991.0
5                 Mövlud      Hümmətli   10A     K     1991.0
22                Mədinə     Elşadqızı   10A     Q     1990.0
13                 Niyaz       Kazımov    9B     K     1992.0
25               Pərvanə       Nəsimov   10A     Q     1991.0
3              Qardaşxan     Elşadzadə   10B     K     1990.0
9              Qardaşxan      Teymurov   10B     K     1992.0
14              Qasımbəy     Elmanoğlu    9B     K     1990.0
19                 Ramin      Emilzadə    9B     K     1992.0
39                Reyhan          Razi    9B     Q     1992.0
37               Rusudan        Anarlı    9B     Q     1991.0
21               Rusudan       Anatoli   10A     Q     1990.0
23                  Rəna    Çingizzadə   10B     Q     1990.0
16                 Rəşid      Emilzadə    9A     K     1991.0
2                 Teymur      Akifoğlu   10A     K     1990.0
28                Tərlan  Babakişiyeva   10A     Q     1992.0
20                Xatirə       Ramizli   10B     Q     1989.0
32                Xədicə       Fahirli    9A     Q     1990.0
24            Yekaterina       Əsgərli   10B     Q     1990.0
10                 Zaman      Zauroğlu    9A     K     1989.0
29                  Şölə       Qazıyev   10B     Q     1992.0
34                  Şəfa          Razi    9B     Q     1990.0

İlk öncə Ad sütununu əsas alaraq sıralayar. <br>Daha sonra, Soyad üzrə Hərf sıralaması səviyyələr üzrə aparar.<br><br>16&emsp;Elmar	Abdullahlı	9A	K	1991
<br>9&emsp;&emsp;Elmir	Davudov	10A	K	1992<br><br>
Sıralamasından bunu aydın şəkildə görmək olur.

In [ ]:
df.sort_values('Təvəllüdü', ascending = True) # kiçikdən böyüyə

In [ ]:
df.sort_values('Təvəllüdü', ascending = False) # böyükdən kiçiyə

In [ ]:
df.sort_values('Soyad', kind = 'heapsort')

In [ ]:
df.sort_values('Ad', kind = 'mergesort')

In [ ]:
df.sort_values('Sinif', kind = 'quicksort')

NaN dəyərləri ad sütunun ilk elementləri kimi sıralayaq:

In [ ]:
df.sort_values('Ad', na_position = 'first')

NaN dəyərləri soyadad sütunun son elementləri kimi sıralayaq:

In [ ]:
df.sort_values('Soyad', na_position = 'last')

## Pivot Table (Yekunlar Cədvəli) <br>
&emsp;&emsp;Əgər Exceli bilirsinizsə burda çəkinməyə heç bir əsas yoxdur. Çünki, buradakı anlayışlar tamamilə eynidir. Əgər bilmirsinizsə çox da narahat olmayın. Çünki istifadəsi çox sadədir.

In [75]:
df_2 = pd.DataFrame({'Aylar': ['January','February','March','January','February',
                             'March','January','February','March'], 
                     'Ştat':['New York','New York','New York','Texas','Texas',
                            'Texas','Washington','Washington','Washington'], 
                     'Nəmlik': [20,25,65,34,56,85,21,56,79]})
df_2

      Aylar        Ştat  Nəmlik
0   January    New York      20
1  February    New York      25
2     March    New York      65
3   January       Texas      34
4  February       Texas      56
5     March       Texas      85
6   January  Washington      21
7  February  Washington      56
8     March  Washington      79

&emsp;&emsp;Başlamazdan öncə corr() metodu haqqında ilkin fikir formalaşdıraq və aşağıdakı kodda onu çalışdıraq, bu metod bizə korrelasiya əlaqəsi haqqında fikir verir:

In [76]:
df_2.corr()

        Nəmlik
Nəmlik     1.0

&emsp;&emsp;İndi isə, 3 ədəd faiz nisbəti ilə ifadə edilmiş 3 ay üzrə 3 müxtəlif ştatdakı Nəmlik miqdarını Yekunlar cədvəlində ifadə edək.

In [77]:
df_2.pivot_table(index = 'Aylar', columns = 'Ştat', values = 'Nəmlik')

Ştat      New York  Texas  Washington
Aylar
February        25     56          56
January         20     34          21
March           65     85          79

In [78]:
df_2.pivot_table(index = 'Ştat', columns = 'Aylar', values = 'Nəmlik')

Aylar       February  January  March
Ştat
New York          25       20     65
Texas             56       34     85
Washington        56       21     79

&emsp;&emsp;Yuxarıdakı formada Pivot Table (Yekunlar Cədvəli) -ni asanlıqla yarada bilərsiniz.

# DataSeti oxuma metodları

&emsp;&emsp;Bu məsələni aşağıdakı kimi ifadə edə bilərəm:<br>&emsp;&emsp;Kompüternizdə IDE -niz vasitəsi ilə bu kodu işlədə bilərsiniz<br>
dataset = pd.read_csv ('File_Path \ Data_Name.csv') <br>&emsp;&emsp;Kaggle -da kernel yazmaq üçün (ancaq, bəzən aparılan yeniləmələr zamanı bu metod dəyişə bilər.)<br>df = pd.read_csv ("../ input / Data_Name.csv")<br>&emsp;&emsp;Dataframe -ni CSV formatına qaytarmaq üçün<br>dataset.to_csv ('Data_Name')<br>&emsp;&emsp;Excel faylı oxumaq üçün ilk öncə xlrd (XLRD) paketi yüklənilməlidir. Daha sonra bu kodu rahatlıqla istifadə edə bilərsiniz.<br>pip install xlrd<br>
excelset = pd.read_excel ('Excels_Name.xlsx')<br>&emsp;&emsp;Mövcud Dataseti Excel faylına çevirir:<br>excelset.to_excel ('excelnewfile.xlsx')<br>&emsp;&emsp;Mövcud Dataseti Excel faylına çevirir:<br>excelset.to_excel ('excelnewfile.xlsx')<br>&emsp;&emsp;İnternettən xüsusilə HTML fayldan datanı oxumaq üçün bu formada kodu çalışdıra bilərsiniz:<br>New = pd.read_html ('Datasets URL.html')

# Ydata_profiling<br>
&emsp;&emsp;Normalda burada mövzunu bitirərdim, amma kifayət qədər aktual olduğunu düşündüyüm və son vaxtlar istifadəsi geniş vüsət alacaq bir xüsusiyyəti sizinlə bölüşmək istəyirəm:&emsp; <i><b>'Ydata_Profiling()'</b></i><br>
- &emsp;&emsp;İlk öncə modulu yükləyək : <br>pip install ydata_profiling ilə paketi kompüternizə quraşdırın, <br>
-daha sonra import edək:

In [ ]:
!pip install ydata_profiling

In [80]:
import ydata_profiling as ydp

&emsp;&emsp;Datamızı hazır datasetlərdən olan diabetes datasetindən alaq:

In [81]:
import warnings
warnings.filterwarnings("ignore")
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()
df_diabetes = pd.DataFrame(data = diabetes.data, columns = diabetes.feature_names)
df_diabetes.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

&emsp;&emsp;Profiling report data analitiklərin üzərində çalışa biləcəyi bir hesabatı bizə geri qaytarar:

In [ ]:
ydp.ProfileReport(df_diabetes)